<!DOCTYPE html>
<html>
<head>
    <title>City Information</title>
    <style>
        body {
            color: blue;
            border: 1px solid black;
        }
        .city-info {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .city-info p {
            margin: 5px 0;
        }
        /* Additional styles can be added for specific elements */
        .city-name {
            font-weight: bold;
            font-size: 18px;
        }
        .info {
            font-style: italic;
        }
    </style>
</head>
<body>
    <div class="city-info">
        <p class="city-name">City: {{ city }}</p>
        <p class="info">Latitude: {{ lat }}</p>
        <p class="info">Longitude: {{ lng }}</p>
        <p class="info">Country: {{ country }}</p>
        <p class="info">State: {{ state }}</p>
        <p class="info">Population: {{ population }}</p>
    </div>
</body>
</html>
